body {
	margin: 0;
	font: normal 16px sansation;
}

.navbar {
	float: left;
}

.profile {
	float: right;
	margin-top: 1%;
}

.title {
	font-size: 36px;
	margin-bottom: 40px;
}

.logo {
	height: 153px;
	width: 220px;
	object-fit: cover;
	position: relative;
	top: -35px;
}

.table-box {
	margin: 50px auto;
}

.table-row {
	display: table;
	width: 98%;
	margin-right: 20px;
	margin-left: 20px;
	font-family: calibari;
	background: transparent;
	padding: -10px 0;
	color: #8caaa7;
	font-size: 30px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
}

.table-cell {
	display: table-cell;
	width: 30%;
	text-align: center;
	padding: 1px;
	border-right: 1px solid #8caaa7;
	vertical-align: middle;
	margin-left: 20px;
	margin-right: 20px;
}

#sidebar {
	position: relative;
	width: 15%;
	height: 50%;
	left: -15%;
	background-color: white;
}

#sidebar li {
	color: black;
	font-size: 10px;
	padding: 10px;
	border-bottom: 1px solid gray;
	text-align: center;
}

.toggle-btn {
	position: absolute;
	left: 105%;
	top: 15px;
}

.toggle-btn span {
	display: block;
	background-color: black;
	width: 25px;
	height: 3px;
	margin: 1px;
}

#sidebar.active {
	left: 0;
}

.part_1 {
	width: 58%;
	background-color: #eee;
	background: url("../images/html b.jpg") center no-repeat;
	background-size: cover;
	color: #000000;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 15px;
	transform: translateX(10px);
}

.part {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.midpart {
	display: flex;
	justify-content: space-between;
}

.category {
	margin-top: 10px;
	font-size: 19px;
	padding-left: 30px;
}

.select {
	display: flex;
	height: 28px;
	width: 15%;
	position: relative;
	left: 2%;
	overflow: hidden;
	border-radius: 5px;
}

select {
	color: rgb(131, 131, 131);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background: rgb(221, 215, 215);
	outline: none;
	border: 0;
	border-radius: 5px;
}

/* Arrow */
.select::after {
	content: "\25BC";
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px 5px;
	background: black;
	color: #fff;
	cursor: pointer;
	pointer-events: none;
	transition: 0.25s all ease;
	overflow: hidden;
	border-radius: 5px;
}

.select:hover::after {
	color: dodgerblue;
}

/* Search  */

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	right: 21px;
}

input[type="text"] {
	position: relative;
	padding: 15px 40px 15px 20px;
	width: 65%;
	color: rgb(131, 131, 131);
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: 2px;
	border: none;
	border-radius: 5px;
	background: rgb(221, 215, 215);
	transition: width 0.4s ease;
	outline: none;
	top: -8px;
	height: 2%;
}

input::placeholder {
	color: rgb(131, 131, 131);
	font-size: 10px;
}

i {
	position: relative;
	left: -37px;
	color: rgb(131, 131, 131);
	bottom: 8px;
}
